@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, button, input, select, textarea {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.body p {
  margin-top: 0;
}

.has-text-centered {
  font-style: italic;
  margin-bottom: 20px;
}

@media screen and (min-width: 1000px){
  .container{
    margin-bottom: 60px;
  }
}

span.code {
  background-color: #c3d2d6;
  color: #313638;
  font-family: "Inconsolata", "Consolas", "Courier Neue", "Courier", monospace;
  padding: 2px 4px;
  border-radius: 2px;
}

.content pre,
p.fake-code {
  background-color: whitesmoke;
  color: #313638;
  font-family: "Inconsolata", "Consolas", "Courier Neue", "Courier", monospace;
  border-radius: 2px;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  font-size: 14px;
}

.box {
  background-color: #D7E3E6;
  color: #67777B;
  font-weight: bold;
}

nav {
  margin: 20px;
  padding: 0px;
  border-bottom: 1px solid #E0E9EB;
}

.github {
  position: absolute;
  right: 50px;
  top: 15px;
}

.nav-toggle {
  height: 2rem;
  position: absolute;
  right: 0;
  top: 15px;
}

.nav-title {
  color: #C0002C;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

.nav-title:hover {
  color: #C0002C;
}

.body {
  color: #8A9A9E;
}
.body h1,
.body h2 {
  color: #C0002C;
}

/*SETUP*/
.container {
  max-width: 960px;
  letter-spacing: 0;
  line-height: 20px;
  padding: 20px;
}

.container p {
  margin-top: 30px;
}

.summary {
  text-align: center;
  background: #C2002E;
  color: #FFFFFF;
  max-width: 960px;
  border-radius: 5px;

  /*desktop*/
  padding: 20px;
  font-size: 14px;
  margin-bottom: 30px;
}

#airship-logo g,
#airship-logo path {
  fill: #FF8BA9;
}

.summary .title {
  color: #FFFFFF;
  margin: 20px;
}

.summary p {
  line-height: 1.25;
}

/*ELEMENTS*/

.columns {
  flex-flow: wrap;
}

.image {
  background-color: #C2002E;
  padding: 50px;
}

.card p {
  margin: 0;
}

/*ELEMENT*/

.element-details,
.element-detail-image {
  display: inline-block;
  vertical-align: top;
}

.element {
  text-align: center;
}

.element-detail-image {
  width: 100%;
}

.element-details {
  padding: 20px;
  color: #8A9A9E;
}

.element-details h4,
.element-details h1 {
  color: #8A9A9E;
}

@media only screen  and (min-width : 769px) {
  .summary {
    padding: 100px;
    font-size: 20px;
  }

  nav {
    border: none;
  }

  .element {
    text-align: left;
  }

  .element-detail-image {
    width: auto;
  }

  .nav-right {
    height: 20px;
    overflow: hidden;
  }

  .github {
    position: relative;
    top: 0;
    right: 0;
  }
}

code{
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
code, code > *, code > * > * {
    font-size: 0.8rem !important;
}
pre code{
    padding: 0;
}

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
  background-color:transparent;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
/* You can add global styles to this file, and also import other style files */
